/* 书写自己的首页样式 */
body {
    background-color: #f3f5f7;
}
i {
    /* 不倾斜 */
    font-style: normal;
}
/* 定义一个版心 */
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* hearer盒子制作开始啦 */
.header {
    height: 100px;
    background-color: #fff;
}
.logo {
    width: 195px;
    height: 41px;
}
.logo a {
    /* 转换块级元素 */
    display: block;
    height: 41px;
    background: url(../images/logo.png);
    /* 隐藏文字（不影响搜索引擎爬虫抓取关键字）*/
    font-size: 0;
}
/* 一定要加header 不会影响别的 */
.header .wrapper {
    padding-top: 29px;
    display: flex;
}
.nav {
    margin-left: 102px;
}
.nav ul {
    display: flex;
}
.nav li {
    margin-right: 24px;
}
.nav li a {
    font-size: 19px;
    padding: 8px;
    /* 高低可以通过行高调整 */
    line-height: 35px;
}
.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}
.search {
    width: 412px;
	height: 40px;
	background-color: #f3f5f7;
	border-radius: 20px;
    margin-left: 80px;
}
.search input {
    width: 412px;
    height: 40px;
    /* 背景色透明 */
    background-color: transparent;
    /* 去掉自带边框 */
    border: 0;
    padding-left: 20px;
    padding-right: 30px;
    /* 去掉点击之后显示黑色的边框 */
    outline: 0;
}
/* 用户模块 */
.user {
    margin-left: 25px;
}
.user img {
    /* 让文字和图片垂直居中对齐 */
    vertical-align:middle;
}
.user span {
    color: #666666;
    margin-left: 7px;
}
/* header盒子制作结束啦 */

/* banner 开始 */
.banner {
    height: 420px;
    background-color: #0092cb;
}
.banner .wrapper {
    height: 420px;
    background: url(../uploads/banner.png);
    display: flex;
    /* 主轴两侧对齐 */
    justify-content: space-between;
    /* 侧轴居中 */
    align-items: center;
}
.banner .left {
    width: 191px;
	height: 420px;
    background-color: rgba(0, 0, 0, .42);
    padding-top: 3px;
}
.banner .left li a {
    /* display: block; */
    display: flex;
    justify-content: space-between;
    height: 46px;
    padding: 0 20px;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}
.banner .left li a:hover {
    background-color: rgba(0, 0, 0, .2);
    color: #00a4ff;
}

.banner .right {
    width: 218px;
    height: 305px;
    padding-top: 18px;
    background-color: #209dd5;
    border-radius: 10px;
}
.banner .right h3 {
    height: 30px;
    color: #fff;
    padding-left: 14px;
    font-size: 15px;
}
.banner .content {
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
    padding: 12px;
}
.banner .content dl {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 11px;
}
.banner .content dt {
    font-size: 14px;
    font-weight: 700;
}
.banner .content dd {
    font-size: 12px;
    margin: 8px;
    color: #7d7d7d;
}
.banner .content dd span {
    color: #00a4ff;
}
.banner .content a {
    display: block;
    height: 32px;
    background-color: #00a4ff;
    border-radius: 16px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 32px;
}
.banner .content a:hover {
    background-color: #0081c6;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

/* recommend开始 */
.recommend {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #fff;
    margin-top: 12px;
    box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
    line-height: 60px;
    padding: 0 20px;
}
.recommend h3 {
    color: #00a4ff;
    font-size: 18px;
    font-weight: 400;
}
.recommend ul {
    display: flex;
    /* 圣杯布局：两侧固定，中间唯一靠左对齐 */
    /* 伸缩臂，占满所有的空间，文字默认左对齐 */
    flex:1
}
.recommend ul li a {
    border-right: 1px solid #e0e0e0;
    padding: 0 24px;
}
.recommend ul li a:hover {
    color: #00a4ff;
}
/* 选择最后一个li里面的a */
.recommend ul li:last-child a{
    border-right: 0;
}
.recommend .mod {
    color:#0092e1; 
    font-size: 16px;
}
.recommend .mod:hover {
    color: #0081c6;
}

/* 课程模块开始 */
.hd {
    display: flex;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
    /* background-color: pink; */
    margin: 30px 0 15px;
}
.hd h3 {
    font-size: 21px;
    color: #333;
    font-weight: 400;  
}
.hd .more {
    font-size: 14px;
    color: #999;
}

.bd ul {
    display: flex;
    /* 强制换行 */
    flex-wrap: wrap;
    justify-content: space-between;
}
.bd li {
    width: 228px;
	height: 271px;
    background-color: #fff;
    margin-bottom: 14px;
    /* 过渡 */
    transition: .3s;
}
.bd li:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}
.bd li a {
    display: block;
    height: 100%;
}
.bd a h4 {
    /* 必须给高。这样下面的p会自动对齐 */
    height: 53px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin: 20px 20px 0;
}
.bd a p {
    margin-left: 20px;
    font-size: 14px;
    color: #999;
}
.bd a p span {
    color: #fa6400;
}

.hd ul {
    display: flex;
}
.hd ul li a {
    font-size: 16px;
    margin: 0 30px;
}
.hd .hot {
    color: #00a4ff;
}
.bd {
    display: flex;
    justify-content: space-between;
}
.bd .left {
    width: 228px;
	height: 386px;
    /* background-color: pink; */
    transition: .3s;
}
.bd .left:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}
.bd .right {
    width: 957px;
	height: 386px;
    /* background-color: purple; */
}
.bd .right .top {
    height: 100px;
    margin-bottom: 15px;
    /* background-color: yellow; */
}
.bd .line {
    width: 1200px;
}

/* 底部盒子 */
.footer {
    height: 273px;
	background-color: #ffffff;
    margin-top: 45px;
    padding-top: 60px;
}
.footer .wrapper {
    display: flex;
    justify-content: space-between;
}
.footer .left .f-logo {
    display: block;
	width: 195px;
	height: 41px;
    background: url(../images/logo.png);
}
.footer .left p {
    width: 432px;
    font-size: 12px;
    color: #666;
    line-height: 17hx;
    margin: 24px 0 14px;
}
.footer .left .app {
    display: block;
    width: 120px;
	height: 36px;
	border: 1px solid #00a4ff;
    /* margin-top: 14px; */
    text-align: center;
    line-height: 36px;
    color: #00a4ff;
    font-size: 16px;
}
.footer .left .app:hover {
    background-color:#00a4ff;
    color: #fff;
}

.footer .right {
    display: flex;
}
.footer .right dl {
    margin-left: 130px;
}
.footer .right dt {
    font-size: 16px;
    line-height: 35px;
}
.footer .right dd {
    font-size: 14px;
    line-height: 24px;
}
.footer .right dd a {
    color: #666;
}
.footer .right dd a:hover {
    color: #00a4ff;
}
